@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #92d3ff;
}

main {
    width: 85%;
}

.main-content {
    display: flex;
}

.sidebar {
    background-color: #ffffff;
    width: 15%;
    padding: 20px;
}

.app-title {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 25px;
    font-weight: 500;
    color: oklch(0.511 0.262 276.966);
}

.sidebar-list {
    padding: 20px 0;
}

.sidebar-list li {
    display: flex;
    align-items: center;
    color: oklch(0.446 0.03 256.802);
    margin-bottom: 15px;
    padding: 10px 15px;
    border-radius: 10px;
}

.sidebar-list .active {
    background-color: rgb(243 244 246);
    color: oklch(.511 .262 276.966);
}

.sidebar-list li a {
    padding-left: 10px;
}

.dashboard {
    padding: 35px;
}

.dashboard .title {
    color: oklch(.21 .034 264.665);
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 10px;
}

.dashboard .description {
    color: oklch(.446 .03 256.802);
    font-size: 16px;
}

.dashboard .statistics {
    padding-top: 20px;
    display: flex;
}

.dashboard .statistics .box {
    width: 50%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid #e7e7e7;
}

.dashboard .statistics .total {
    margin-right: 20px;
}

.dashboard .search {
    padding: 20px 0;
}
